body {
  background-color: #fff9c4; 
}

.tablero-img {
  max-width: 100%;
  height: auto;
}

.dino-img {
  width: 60px;
  height: auto;
}

.dado-img {
  width: 50px;
  border-radius: 8px;
  box-shadow: 0 0 4px rgba(0,0,0,0.3);
}
